@import url("reset.css");
@import url("fonts.css");

body {
    font-family: Myriad Pro, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 10px;
    box-sizing: border-box;
}
.title {
    font-family: Myriad Pro Semibold, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #9da3d7;
    padding: 0px 20px 40px;
}

/* F1_header */
.header {
    background-color: #ccc;
}
.header .container {
    overflow: auto;
    padding: 65px 10px;
}
.logo {
    float: left;
}
.phone-number {
    float: right;
}
.phone-number__item {
    font-size: 2.5rem;
    color: #767676;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

/* F2_block_with_form */
.section-with-form {
    background: url(../img/F2_form/circles-bg.png) #fff no-repeat top center;
    min-height: 480px;
    background-size: cover;
}
.section-with-form .container {
    padding: 70px 100px 120px;
}
.section-with-form .content {
    max-width: 360px;
}
.section-with-form .form {
    width: auto;
    padding: 30px 20px;
    background-color: #9da3d7;
    text-align: center;
}
.form__heading {
    font-family: Myriad Pro, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.form__input {
    display: block;
    padding: 10px 15px;
    width: 100%;
    max-width: 280px;
    border: none;
    font-size: 1.5rem;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px auto 20px;
    outline: none;
}
.form__input::placeholder {
    color: #767676;
}
.phone::-webkit-outer-spin-button,
.phone::-webkit-inner-spin-button {\
    -webkit-appearance: none;
    margin: 0;
}
.form__button {
    display: block;
    background: #ffc087;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: #fff;
    width: 100%;
    max-width: 280px;
    text-transform: uppercase;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    margin: 0px auto 20px;
}
.button:hover {
    color: #000;
    cursor: pointer;
}

/* F3_block_with_slider */
.section-with-slider .container {
    padding-bottom: 20px;
}
.section-with-slider .title {
    padding-bottom: 20px;
}
.slider {
    position: relative;
    max-width: 692px;
    padding: 10px;
    box-shadow: 0 0 16px 1px rgba(0,0,0,0.17);
    margin: auto;
    display: flex;
}
.slider__item {
    width: 100%;
    margin: auto;
}
.slider-dots {
    text-align: center;
}
.slider-dots__item{
    background: #fff;
    box-shadow: inset 0 0 9px rgba(0,0,0,0.22);
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 20px 10px;
    position: relative;
    cursor: pointer;
}
.active span,
.slider-dots__item:hover span {
    background: #9da3d7;
    display: block;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

/* F4_block_with_text */
.section-with-text .title {
    color: #000;
    padding-bottom: 35px;
}
.section-with-text .text {
    text-align: justify;
    padding-bottom: 10px;
}

/* F5_block_with_calculator */
.windows__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-flow: row wrap;
}
.windows__item {
    list-style-type: none;
    margin-bottom: 35px;
    padding: 0px 10px;
}
.windows__link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.windows__link:hover {
    color: #0099de !important;
}
#single-leaf {
    text-decoration: underline;
    color: #0099de;
}
.windows__img-wrapper {
    height: 143px;
    display: block;
    padding-bottom: 20px;
    cursor: pointer;
}
.windows__img {
    cursor: pointer;
}
#single-leaf-img {
    display: block;
}
.calculator-wrapper {
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.35), 5px 5px 10px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 50px 35px;
    box-sizing: border-box;
}
.calculator {
    display: grid;
    grid-template-rows: auto 45px;
    grid-template-columns: 260px auto;
    row-gap: 60px;
    column-gap: 115px;
}
.get-calculation {
    grid-column: 1 / 3;
    grid-row: 2;
}
.select-window__img-wrapper {
    position: relative;
    height: 220px;
    width: 260px;
    margin: auto;
}
.img-wrapper__img {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.img-wrapper__size {
    position: absolute;
    font-family: Myriad Pro SemiboldIt, Arial, Helvetica, sans-serif;
    font-size: 1.375rem;
    text-transform: lowercase;
}
.width {
    top: -15px;
    left: 0;
    right: 0;
    text-align: center;
}
.height {
    top: 100px;
    left: -40px;
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
}
.size__item {
    position: relative;
    display: inline-block;
}
.size__input {
    width: 90px;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 2.1875rem;
    text-align: center;
    border: 2px solid #9c9c9c;
    box-sizing: border-box;
}
.size__input::placeholder {
    color: #5d5d5d;
}
.size__input:focus::-webkit-input-placeholder {
    color: transparent;
}
.size__input:focus::-moz-placeholder {
    color: transparent;
}
.size__input:focus:-moz-placeholder {
    color: transparent;
}
.size__input:focus:-ms-input-placeholder {
    color: transparent;
}
.size__label {
    font-size: 1.25rem;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    text-align: center;
}
.size__icon {
    background: url(../img/F5-calculator/multiplication-sign.png) no-repeat;
    display: inline-block;;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 20px;
}
.select-window {
    position: relative;
}
.select-window__size {
    text-align: center;
    padding-top: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.parameters__headline {
    font-family: Myriad Pro Semibold, Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    color: #0099de;
    margin-top: 20px;
    display: none;
}
#single {
    display: inline-block;
}
.criterion-item__caption {
    display: inline;
    font-family: Myriad Pro Semibold, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #000;
}
.criterion__list {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
    margin-top: 50px;
}
.criterion-item {
    margin-top: 50px;
    position: relative;
    counter-increment: step-counter;
}
.criterion-item::before {
    content: counter(step-counter) '.'; 
    font-family: Myriad Pro Semibold, Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 1.5rem;
}
.dot__list {
    list-style-type: none;
    margin: 25px auto;
}
.dot-item {
    display: inline-block;
    position: relative;
}
.dot-item:first-of-type {
    margin-left: 10px;
}
.dot-item__input {
    display:none
}
.dot-item__label {
    font-size: 1.125rem;
    padding: 5px 20px;
    cursor: pointer;
}
.dot-item__input+.dot-item__label:before {
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border:2px solid #9c9c9c;
    border-radius:50%;
    left: -10px;
    box-sizing: border-box;
}
.dot-item__input+.dot-item__label:after {
    content:'';
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: #9c9c9c;
    border-radius:50%;
    left: -5px;
    top: 5px;
    display: none;
}
.dot-item__input:checked~.dot-item__label:after {
    display: block;
}
.select-box__element {
    position: relative;
    max-width: 360px;
    width: 100%;
    margin-top: 20px;
}
.select-box__list {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    font-family: 'MyriadProRegular';
    max-width: 360px;
    width: 100%;
    padding: 0.625rem 1.25rem;
    border: 2px solid #9c9c9c;
    border-radius: 7px;
    font-size: 1.125rem !important;
    background-color: transparent;
    outline: none;
}
.select-box__list::-ms-expand {
    display: none;
}
.select-box__item:hover {
    border: none;
}
.select-box__arrow {
    width: 0; 
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-top: 1.25rem solid #9c9c9c;
    position: absolute;
    top: 0.875rem;
    right: 1.25rem;
    z-index: -1;
}
.get-calculation {
    text-align: center;
    padding-left: 20px;
}
.get-calculation__input {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 10px 62px;
    max-width: 280px;
    width: 100%;
    font-size: 1.125rem;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/F5-calculator/user.png) left center no-repeat #c6c6c6;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    margin-left: 20px;
}
.get-calculation__input::placeholder {
    color: #424242;
}
.get-calculation____button {
    background: #9da3d7;
    padding: 8px 15px;
    text-transform: uppercase;
    font-family: Myriad Pro, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    max-width: 280px;
    width: 100%;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #9da3d7;
    border-radius: 10px;
    margin-left: 20px;
}
.get-calculation____button:hover {
    color: #000;
}

/* Footer */
.footer {
    background-color: #767676;
}
.footer .container {
    padding-top: 50px;
    padding-bottom: 45px;
}
.footer-text {
    text-transform: lowercase;
    color: #fff;
    font-size: 24px;
    width: 190px;
}