@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-SemiboldIt.eot');
    src: url('MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-SemiboldIt.woff2') format('woff2'),
        url('MyriadPro-SemiboldIt.woff') format('woff'),
        url('MyriadPro-SemiboldIt.ttf') format('truetype'),
        url('MyriadPro-SemiboldIt.svg#MyriadPro-SemiboldIt') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

